
.order-summary {
    position:relative;
    float: right;
    right: 23px;
    height: 650px;
    width: 500px;
    text-align:center;
    border-style:double;
    border-width: 4px;
    
  }


.submit{
    background-color: white;
    color: #5B0726;
    border: 2.5px solid #5B0726;
    font-size: 20px;
    font-weight: bold;
    font-family: verdana;
    text-align: center;
    text-decoration: none;
    position:fixed;
    bottom:10px;
    right:60px;
    height: 50px;
    width: 200px;
  }
  
  .submit:hover {
    background-color: #5B0726;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0px 10px;
  }
  
  .cancel{
    background-color: white;
    color: #5B0726;
    border: 2.5px solid #5B0726;
    font-size: 20px;
    font-weight: bold;
    font-family: verdana;
    text-align: center;
    text-decoration: none;
    position:fixed;
    bottom:10px;
    right:300px;
    height: 50px;
    width: 200px;
  }
  
  .cancel:hover {
    background-color: #5B0726;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0px 10px;
  }
