body {
    background-color: #5B0726;
}

h2 {
    font-size: 100px;
    font-family: Verdana, sans-serif;
    color: white;
    padding-top: 80px;  
    text-align: center;
}

div {
    background-color: white;
    font-family: Verdana, sans-serif;
    color: #5B0726;
    font-size: 20px;
    position: center;
    width: 700px;
    height: 680px;
    padding: 50px;
    margin: auto;
}

.goback{
    background-color: #5B0726;
    color: white;
    border: 2.5px solid white;
    font-size: 20px;
    font-weight: bold;
    font-family: verdana;
    text-align: center;
    text-decoration: none;
    margin-top: -275px;
    float: left;
    height: 75px;
    width: 210px;
}

.goback:hover {
    background-color: white;
    color: #5B0726;
    font-weight: bold;
    cursor: pointer;
    padding: 0px 10px;
}
