<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/Index.css"></link>
    <title>Document</title>
</head>
<body>
    <h1 class="title">
        Select a GUI
    </h1>
    <div class="allButtons">
        <a href="/customergui"><button class="customer"> Customer GUI </button></a>
        <br>
        <a class="server" href="/servergui"><button class="server">Server GUI </button></a>
        <br>
        <a class="manager" href="/managergui"><button class="manager"> Manager GUI </button></a>
    </div>
</body>
</html>