<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/ServerGUI.css"></link>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <title>ServerGUI</title>
</head>
<body>
    <div id="google_translate_element"></div>
    <div class="summary">
        <img class="logo" src="https://media-cdn.grubhub.com/image/upload/d_search:browse-images:default.jpg/w_100,q_80,fl_lossy,dpr_2.0,c_fit,f_auto,h_100/fw6zczftwhbxmpx7g7u3"/>
        <div class="order">
            <table id="orderTable">
                <tr>
                    <th> ITEM </th>
                    <th> </th>
                    <th> QTY. </th>
                    <th> </th>
                    <th> PRICE </th>
                </tr>
            </table>
        </div>
        <div class="total">
            <div class="taxtitle">
                <h4> Tax </h4>
            </div>
            <div class="taxnum">
                <h4 id="tax"> + </h4>
            </div>
            <hr>
            <div class="taxtitle">
                <h4> Total </h4>
            </div>
            <div class="taxnum">
                <h4 id="total"> $ </h4>
            </div>
        </div>
        <div class="checkout">
            <button class="cancel" onclick="clearOrder()"> CANCEL <br> ORDER </button>

            <button class="submit" id="serverSubmit"> SUBMIT <br> ORDER </button>
        </div>
    </div>
    <div class="items">
        <div class="burgers">
            <h1> BURGERS </h1>
            <button onclick="addToOrder(5, 'Bacon Burger', '1', '7.69')"> Bacon <br> Burger </button>
            <button onclick="addToOrder(3, 'Black Bean Burger', '1', '7.29')"> Black Bean Burger </button>
            <button onclick="addToOrder(2, 'Cheese Burger', '1', '6.99')"> Cheese <br> Burger </button>
            <button onclick="addToOrder(4, 'Chicken Sandwhich', '1', '7.49')"> Chicken Sandwhich </button>
            <button onclick="addToOrder(1, 'Classic Hamburger', '1', '6.49')"> Classic Hamburger </button>
        </div>
        <div class="sides">
            <button onclick="addToOrder(7, 'Chicken Tenders', '1', '7.49')"> Chicken <br> Tenders </button>
            <button onclick="addToOrder(8, 'Caesar Salad', '1', '8.29')"> Caesar <br> Salad </button>
            <button onclick="addToOrder(9, 'French Fries', '1', '2.69')"> French <br> Fries </button>
            <button onclick="addToOrder(10, 'Tots', '1', '2.89')"> Tater <br> Tots </button>
            <button onclick="addToOrder(11, 'Fountain Drink', '1', '1.49')"> Fountain <br> Drink </button>
        </div>
        <div class="desserts">
            <h1> DESSERTS </h1>
            <button onclick="addToOrder(17, 'Ice Cream Cup', '1', '2.29')"> Ice Cream Cup </button>
            <button onclick="addToOrder(18, 'Aggie Shake', '1', '6.49')"> Aggie <br> Shakes </button>
            <button onclick="addToOrder(19, 'Cookie Sandwhich', '1', '4.69')"> Cookie Sandwhich </button>
        </div>
    </div>
    <script src="javascript/ServerGUI.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>