<html>
<head>
<title>Order</title>
<link rel="stylesheet" type="text/css" href="css/Order.css"></link>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h2>My Order</h2>
    <a href = "CustomerGUI/Customer.ejs">
        <button class="goback">GO BACK TO HOME PAGE</button>
    </a>
    <div>
    </div>
</body>